# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
filetoload="../WeatherPy/output/cityweather.csv"
cities=pd.read_csv(filetoload)
cities.head()

,Unnamed: 0,City,Country,Lat,Lon,Tmax,% H,Cloudiness,Wind v,Date
0,0,Mayo,US,38.8876,-76.5119,46.00,100,90,3.44,1614607236
1,1,Clyde River,CA,70.4692,-68.5914,-14.80,64,75,24.16,1614607237
2,2,Albany,US,42.6001,-73.9662,39.99,86,100,6.62,1614607028
3,3,Concepción del Oro,MX,24.6333,-101.4167,54.14,41,23,1.50,1614607240
4,4,Cape Town,ZA,-33.9258,18.4232,84.20,34,40,8.05,1614607162

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
humidity=cities["% H"].astype(float)
latlon=cities[["Lat","Lon"]].astype(float)
max_h=humidity.max()

In [4]:
fig=gmaps.figure(center=(0,0),zoom_level=2)
heat=gmaps.heatmap_layer(latlon,weights=humidity,dissipating=False,max_intensity=max_h,point_radius=2)
fig.add_layer(heat)
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
idealrun=cities.loc[(cities['Tmax']>70) & 
                    (cities['Tmax']<100) &
                    (cities['Wind v']>0) &
                    (cities['Wind v']<10) &
                    (cities['Cloudiness']==0)]
#idealrun.shape
idealrun.reset_index(inplace=True)
del idealrun['index']
idealrun.head(20)

,Unnamed: 0,City,Country,Lat,Lon,Tmax,% H,Cloudiness,Wind v,Date
0,48,Jalu,LY,29.0331,21.5482,70.95,28,0,7.67,1614607299
1,63,Puerto Ayora,EC,-0.7393,-90.3518,75.99,98,0,5.99,1614607320
2,64,Eravur,LK,7.7733,81.6095,78.17,67,0,5.39,1614607321
3,65,Lüderitz,NaN,-26.6481,15.1594,72.77,64,0,6.96,1614607323
4,148,Constitución,CL,-35.3333,-72.4167,70.38,55,0,2.71,1614607299
5,151,Itimādpur,IN,27.2500,78.2000,72.70,20,0,9.37,1614607437
6,193,Glencoe,ZA,-28.1783,30.1470,73.76,38,0,6.78,1614607496
7,224,Kātrās,IN,23.8000,86.2833,82.06,18,0,7.11,1614607537
8,233,Adrar,MR,20.5022,-10.0711,78.01,17,0,8.39,1614607551
9,238,Port Blair,IN,11.6667,92.7500,79.50,65,0,7.63,1614607559
10,253,Cap Malheureux,MU,-19.9842,57.6142,80.01,72,0,8.99,1614607580
11,271,Eilat,IL,29.5581,34.9482,75.20,38,0,4.61,1614607314
12,276,Waddān,LY,29.1614,16.1390,70.25,24,0,4.18,1614607615
13,280,Harindānga,IN,22.0383,88.3214,84.20,42,0,3.44,1614607620
14,285,Manzanillo,CU,20.3433,-77.1167,79.52,55,0,9.51,1614607626
15,297,Chhor,PK,25.5167,69.7667,76.57,10,0,5.08,1614607644
16,301,Batticaloa,LK,7.7102,81.6924,79.21,66,0,5.93,1614607649
17,306,Mercedes,AR,-34.6515,-59.4307,80.01,76,0,1.99,1614607443
18,310,Xochistlahuaca,MX,16.7833,-98.2500,73.90,56,0,1.86,1614607661
19,325,Lázaro Cárdenas,MX,17.9583,-102.2000,71.02,76,0,5.01,1614607683

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotels=[]
for i in range(len(idealrun)):
    Lat=idealrun.loc[i]['Lat']
    Lon=idealrun.loc[i]['Lon']
    parametros={'Location':f'{Lat},{Lon}',
                'radius':5000,
                'types':'hotel',
                'key':g_key}

    base_url="https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    request=requests.get(base_url,params=parametros)
    rjson=request.json()
    try:
        hotels.append(rjson['results'][0]['name'])
    except:
        hotels.append('')
idealrun['Hotel name']=hotels
idealrun

,Unnamed: 0,City,Country,Lat,Lon,Tmax,% H,Cloudiness,Wind v,Date,Hotel name
0,48,Jalu,LY,29.0331,21.5482,70.95,28,0,7.67,1614607299,
1,63,Puerto Ayora,EC,-0.7393,-90.3518,75.99,98,0,5.99,1614607320,
2,64,Eravur,LK,7.7733,81.6095,78.17,67,0,5.39,1614607321,
3,65,Lüderitz,NaN,-26.6481,15.1594,72.77,64,0,6.96,1614607323,
4,148,Constitución,CL,-35.3333,-72.4167,70.38,55,0,2.71,1614607299,
5,151,Itimādpur,IN,27.2500,78.2000,72.70,20,0,9.37,1614607437,
6,193,Glencoe,ZA,-28.1783,30.1470,73.76,38,0,6.78,1614607496,
7,224,Kātrās,IN,23.8000,86.2833,82.06,18,0,7.11,1614607537,
8,233,Adrar,MR,20.5022,-10.0711,78.01,17,0,8.39,1614607551,
9,238,Port Blair,IN,11.6667,92.7500,79.50,65,0,7.63,1614607559,
10,253,Cap Malheureux,MU,-19.9842,57.6142,80.01,72,0,8.99,1614607580,
11,271,Eilat,IL,29.5581,34.9482,75.20,38,0,4.61,1614607314,
12,276,Waddān,LY,29.1614,16.1390,70.25,24,0,4.18,1614607615,
13,280,Harindānga,IN,22.0383,88.3214,84.20,42,0,3.44,1614607620,
14,285,Manzanillo,CU,20.3433,-77.1167,79.52,55,0,9.51,1614607626,
15,297,Chhor,PK,25.5167,69.7667,76.57,10,0,5.08,1614607644,
16,301,Batticaloa,LK,7.7102,81.6924,79.21,66,0,5.93,1614607649,
17,306,Mercedes,AR,-34.6515,-59.4307,80.01,76,0,1.99,1614607443,
18,310,Xochistlahuaca,MX,16.7833,-98.2500,73.90,56,0,1.86,1614607661,
19,325,Lázaro Cárdenas,MX,17.9583,-102.2000,71.02,76,0,5.01,1614607683,
20,332,San Isidro,PE,-12.1167,-77.0500,78.80,73,0,4.61,1614607692,
21,341,Salalah,OM,17.0151,54.0924,82.40,39,0,5.75,1614607705,
22,359,Nālūt,LY,30.3333,10.8500,73.51,19,0,9.40,1614607727,
23,368,Mayor Pablo Lagerenza,PY,-19.9309,-60.7718,95.07,37,0,3.22,1614607739,
24,392,Petlāwad,IN,23.0000,74.8000,79.30,11,0,6.06,1614607774,
25,402,Mandsaur,IN,24.0667,75.0667,76.41,17,0,6.24,1614607790,
26,408,Noumea,NC,-22.2763,166.4572,71.60,88,0,2.30,1614607798,
27,423,Grand Gaube,MU,-20.0064,57.6608,80.01,72,0,8.99,1614607817,
28,452,Toba Tek Singh,PK,30.9743,72.4827,70.05,21,0,8.59,1614607859,
29,491,Abu Dhabi,AE,24.4667,54.3667,80.60,38,0,8.05,1614607620,
30,504,Aborlan,PH,9.4352,118.5492,78.58,82,0,5.01,1614607929,
31,534,Alice Springs,AU,-23.7000,133.8833,87.01,19,0,8.68,1614607973,
32,555,Santa Fe,AR,-31.6333,-60.7000,87.01,64,0,3.00,1614608003,
33,566,Teknāf,BD,20.8624,92.3058,73.24,90,0,5.26,1614608017,
34,567,Salina Cruz,MX,16.1667,-95.2000,76.12,76,0,3.71,1614608019,
35,607,Phulbāni,IN,20.4667,84.2333,75.00,23,0,2.30,1614608076,
36,611,Halvad,IN,23.0167,71.1833,73.53,25,0,6.62,1614608081,
37,612,Ponnampet,IN,12.1500,75.9333,70.39,71,0,3.83,1614608082,
38,619,Lima,PE,-12.0432,-77.0282,78.80,73,0,4.61,1614607827,
39,630,Mahabalipuram,IN,12.6264,80.1722,80.60,69,0,6.91,1614608106,
40,640,Iranshahr,IR,27.2025,60.6848,82.40,14,0,9.22,1614608118,
41,651,Ginda,IN,30.6945,78.4932,71.60,37,0,4.72,1614608135,
42,652,Simbahan,PH,6.3032,120.5836,83.77,76,0,4.23,1614608136,
43,664,Chopda,IN,21.2500,75.3000,84.65,18,0,0.83,1614608157,

In [7]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotels= [info_box_template.format(**row) for index, row in idealrun.iterrows()]
locations = idealrun[["Lat", "Lon"]]

In [8]:
# Add marker layer ontop of heat map
markers=gmaps.marker_layer(locations)

# Display figure
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))